<template>
  <div>
    dijdubddv
    <!-- <img alt="Vue logo" :src="imh"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
  </div>
</template>

<script setup>
import { defineEmits } from 'vue';

const emit = defineEmits(['TitleView']);
emit('TitleView', 'settingsUser');
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';
// import imh from '../../assets/logo.png';
</script>
