<template>
  <q-tabs v-model="tab" no-caps dense indicator-color="transparent" active-color="primary" align="justify"
    class="size bg-gray-300 text-slate-950 dark:bg-gray-800 dark:text-slate-50 glossy shadow-2" :breakpoint="0">
    <q-tab name="maps" icon="home" :label="t('mapTitle')" @click="() => router.push({ name: 'main' })" />
    <q-tab name="reports" icon="description" :label="t('reportTitle')"
      @click="() => router.push({ name: 'routeReport' })" />
    <q-tab name="settings" icon="settings" :label="t('settingsTitle')"
      @click="() => router.push({ name: 'preferenceSettings' })" />
    <div id="settingAccount">
      <!-- @click="toggleSettingsPopover" -->
      <q-tab name="account">
        <div>
          <div class="inline-block align-middle">
            <div class="row justify-around items-center no-wrap text-[25px]">
              <q-icon name="person" />
            </div>
            <div class="row items-center no-wrap text-[10px]">
              {{ t('settingsUser') }}
            </div>
          </div>
          <q-icon class="inline-block align-middle text-[25px]"
            :name="displaySettingsMenu ? 'mdi-menu-up' : 'mdi-menu-down'" />
          <!-- name="mdi-menu-down" -->
        </div>
        <q-menu auto-close>
          <q-list>
            <q-item clickable
              @click="() => { displaySettingsMenu = false; router.push({ name: 'userIdSettings', params: { id: store.getters.user.id } }) }">
              <q-item-section>{{ t('settingsUser') }}</q-item-section>
            </q-item>
            <q-item clickable @click="logout" class="text-red-500">
              <q-item-section>{{ t('loginLogout') }}</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-tab>
    </div>
  </q-tabs>
</template>

<script setup>
import $ from 'jquery';
import { ref, onMounted, watchEffect } from 'vue'; // watch,
import { useRoute, useRouter } from 'vue-router'; // useRoute,
import { useStore } from 'vuex';
import translation from '@/common/plugins/languages';
// Datas uses
const store = useStore();
const route = useRoute();
const router = useRouter();
const { t } = translation();
const tab = ref('maps');
const OldTab = ref(tab.value);
const displaySettingsMenu = ref(false);

// const toggleSettingsPopover = () => {
//   tab.value = '';
//   displaySettingsMenu.value = !displaySettingsMenu.value;
// };

onMounted(() => {
  $(document).ready(() => {
    $('#settingAccount').click(() => {
      displaySettingsMenu.value = !displaySettingsMenu.value;
      tab.value = OldTab.value;
    });
  });
  $(document).on('click', (event) => {
    const $trigger = $('#settingAccount');
    if ($trigger !== event.target && !$trigger.has(event.target).length) {
      displaySettingsMenu.value = false;
    }
  });
});

watchEffect(() => {
  if (route.fullPath === `/settings/user/${store.getters.user.id}`) tab.value = 'account';
  else if (route.fullPath.startsWith('/reports')) tab.value = 'reports';
  else if (route.fullPath.startsWith('/settings')) tab.value = 'settings';
  else if (route.fullPath === '/') tab.value = 'maps';
  OldTab.value = tab.value;
});

const logout = (async () => {
  await fetch('/api/session', { method: 'DELETE' });
  store.commit('updateUser', null);
  router.push({ name: 'login' }).catch(() => {
    throw new Error('Problem handling something:.');
  });
});
</script>

<style>
.q-tab__label {
  font-size: 10px;
}

.q-tab__icon {
  font-size: 20px;
}
</style>
