<template>
  <div>
    <b  v-if="typeTheme < 3" class="text-gl dark:text-white">Theme:</b>
    <div v-if="typeTheme === 1" class="text-xs">
      <q-toggle v-model="switchType1" checked-icon="dark_mode" unchecked-icon="light_mode" color="black"
        @click="switchType1 ? switchType2 = 'dark' : switchType2 = 'light'" />
    </div>
    <div v-else>
      <q-btn-group push class="dark:bg-slate-700 bg-gray-200">
        <q-btn push v-for="(t, i) in themes" :key="i" :icon="t.icon" :class="switchType1 ? 'text-white' : 'text-black'"
          :color="switchType2 === t.name ? 'blue' : ''" @click="switchType2 = t.name" />
      </q-btn-group>
    </div>
  </div>
</template>

<script setup>
import { ref, defineProps, watchEffect } from 'vue';
import { useStore } from 'vuex';

// Datas uses
const store = useStore();
const switchType1 = ref();
const element = document.documentElement;
const switchType2 = ref(store.getters.theme);
// call element send to this componet
defineProps({ typeTheme: Number });
// Detect that theme on system
const darkQuery = matchMedia('(prefers-color-scheme: dark');
// Themes
const themes = [{ name: 'light', icon: 'light_mode' }, { name: 'dark', icon: 'dark_mode' }, { name: 'system', icon: 'personal_video' }];
// Function change theme that use
function onWindowMarch() {
  if (switchType2.value === 'dark' || (!('theme' in localStorage) && darkQuery.matches)) {
    switchType1.value = true;
    element.classList.add('dark');
  } else {
    switchType1.value = false;
    element.classList.remove('dark');
  }
}
// Call function
onWindowMarch();
// Switch for change theme with elements on this component.
watchEffect(() => {
  switch (switchType2.value) {
    case 'dark':
      switchType1.value = true;
      element.classList.add('dark');
      store.commit('updateTheme', 'dark');
      break;
    case 'light':
      switchType1.value = false;
      element.classList.remove('dark');
      store.commit('updateTheme', 'light');
      break;
    default:
      store.commit('updateTheme', 'system');
      onWindowMarch();
      break;
  }
});
// Function change theme if change theme on computer while one page
matchMedia('(prefers-color-scheme: dark').addEventListener('change', (e) => {
  if (!('theme' in localStorage)) {
    if (e.matches) {
      switchType1.value = true;
      element.classList.add('dark');
    } else {
      switchType1.value = false;
      element.classList.remove('dark');
    }
  }
});
</script>
