<template>
  <div>
    <q-list bordered padding>
      <q-item :to="{name: 'routeReport'}" clickable v-ripple :active="link === 'routeReport'" @click="link = 'routeReport'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="timeline" />
        </q-item-section>
        <q-item-section>{{ t('reportRoute') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('reportRoute') }}</strong>
        </q-tooltip>
      </q-item>
      <!-- 'reports/EventView'),routeEvent -->
      <q-item :to="{name: 'eventReport'}" clickable v-ripple :active="link === 'eventReport'" @click="link = 'eventReport'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="notifications_active" />
        </q-item-section>
        <q-item-section>{{ t('reportEvents') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('reportEvents') }}</strong>
        </q-tooltip>
      </q-item>
      <!-- <q-item clickable v-ripple :active="link === 'trip'" @click="link = 'trip'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="mode_of_travel" />
        </q-item-section>
        <q-item-section>{{ t('reportTrips') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('reportTrips') }}</strong>
        </q-tooltip>
      </q-item> -->
      <!-- <q-item clickable v-ripple :active="link === 'stop'" @click="link = 'stop'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="pause" />
        </q-item-section>
        <q-item-section>{{ t('reportStops') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('reportStops') }}</strong>
        </q-tooltip>
      </q-item> -->
      <!-- <q-item clickable v-ripple :active="link === 'summary'" @click="link = 'summary'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="mdi-file-check-outline" />
        </q-item-section>
        <q-item-section>{{ t('reportSummary') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('reportSummary') }}</strong>
        </q-tooltip>
      </q-item> -->
      <!-- <q-item clickable v-ripple :active="link === 'chart'" @click="link = 'chart'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="mdi-chart-bell-curve-cumulative" />
        </q-item-section>
        <q-item-section>{{ t('reportChart') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('reportChart') }}</strong>
        </q-tooltip>
      </q-item> -->
      <!-- <q-item clickable v-ripple :active="link === 'replay'" @click="link = 'replay'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="route" />
        </q-item-section>
        <q-item-section>{{ t('reportReplay') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('reportReplay') }}</strong>
        </q-tooltip>
      </q-item> -->
      <!-- <div v-if="admin || !readonly">
        <q-separator spaced />
        <q-item clickable v-ripple :active="link === 'scheduled'" @click="link = 'scheduled'" active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="event_repeat" />
          </q-item-section> -->
          <!-- <q-item-section>{{ t('reportScheduled') }}</q-item-section> -->
          <!-- <q-item-section>Update Languages</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('') }}</strong>
          </q-tooltip>
        </q-item>
        <q-item v-if="admin" clickable v-ripple :active="link === 'statistics'" @click="link = 'statistics'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="mdi-poll" />
          </q-item-section>
          <q-item-section>{{ t('statisticsTitle') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('statisticsTitle') }}</strong>
          </q-tooltip>
        </q-item>
      </div> -->
    </q-list>
  </div>
</template>

<script setup>
import { ref, defineProps } from 'vue';
import { useRoute } from 'vue-router';
import translation from '@/common/plugins/languages';
// import { useAdministrator, useRestriction } from '@/common/utils/permissions';

const route = useRoute();
const { t } = translation();
const link = ref(route.name);
// const admin = useAdministrator();
// const readonly = useRestriction('readonly');

defineProps({ mini: Boolean });
</script>

<style scoped>
.my-menu-link {
  color: black;
  background: #F2C037;
}
@media (prefers-color-scheme: dark) {
  .my-menu-link {
    color: white;
    background: #efc54f;
  }
}
</style>
