<template>
  <div>
    <q-list bordered padding>
      <q-item :to="{ name: 'preferenceSettings' }" clickable v-ripple :active="link === 'preferenceSettings'"
        @click="link = 'preferenceSettings'" active-class="my-menu-link">
        <q-item-section avatar>
          <q-icon name="timeline" />
        </q-item-section>
        <q-item-section>{{ t('sharedPreferences') }}</q-item-section>
        <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
          <strong>{{ t('sharedPreferences') }}</strong>
        </q-tooltip>
      </q-item>
      <!-- 'reports/EventView'),routeEvent -->
      <div v-if="!readonly">
        <!-- <q-item clickable v-ripple :active="link === 'notifications'" @click="link = 'notifications'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="notifications" />
          </q-item-section>
          <q-item-section>{{ t('sharedNotifications') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('sharedNotifications') }}</strong>
          </q-tooltip>
        </q-item> -->
        <q-item :to="{ name: 'userIdSettings', params: { id: store.getters.user.id } }" clickable v-ripple :active="link === 'userIdSettings'"
          @click="link = 'userIdSettings'" active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="person" />
          </q-item-section>
          <q-item-section>{{ t('settingsUser') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('settingsUser') }}</strong>
          </q-tooltip>
        </q-item>
        <!-- <q-item v-if="deviceReadonly" clickable v-ripple :active="link === 'device'" @click="link = 'device'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="smartphone" />
          </q-item-section>
          <q-item-section>{{ t('deviceTitle') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('deviceTitle') }}</strong>
          </q-tooltip>
        </q-item> -->
        <!-- <q-item clickable v-ripple :active="link === 'geofences'" @click="link = 'geofences'" active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="mdi-map-marker-radius" />
          </q-item-section>
          <q-item-section>{{ t('sharedGeofences') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('sharedGeofences') }}</strong>
          </q-tooltip>
        </q-item> -->
        <!-- <q-item v-if="!features.disableGroups" clickable v-ripple :active="link === 'groups'" @click="link = 'groups'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="folder" />
          </q-item-section>
          <q-item-section>{{ t('settingsGroups') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('settingsGroups') }}</strong>
          </q-tooltip>
        </q-item> -->
        <!-- <q-item v-if="!features.disableDrivers" clickable v-ripple :active="link === 'drivers'" @click="link = 'drivers'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon id="iconMenu" :name="`img:${Driver}`" />
          </q-item-section>
          <q-item-section>{{ t('sharedDrivers') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('sharedDrivers') }}</strong>
          </q-tooltip>
        </q-item> -->
        <!-- <q-item v-if="!features.disableCalendars" clickable v-ripple :active="link === 'calendars'"
          @click="link = 'calendars'" active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="calendar_today" />
          </q-item-section>
          <q-item-section>{{ t('sharedCalendars') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('sharedCalendars') }}</strong>
          </q-tooltip>
        </q-item> -->
        <!-- <q-item v-if="!features.disableComputedAttributes" clickable v-ripple :active="link === 'computedAttributes'"
          @click="link = 'computedAttributes'" active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="mdi-application-cog-outline" />
          </q-item-section>
          <q-item-section>{{ t('sharedComputedAttributes') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('sharedComputedAttributes') }}</strong>
          </q-tooltip>
        </q-item> -->
        <!-- <q-item v-if="!features.disableMaintenance" clickable v-ripple :active="link === 'maintenance'"
          @click="link = 'maintenance'" active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="mdi-tools" />
          </q-item-section>
          <q-item-section>{{ t('sharedMaintenance') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('sharedMaintenance') }}</strong>
          </q-tooltip>
        </q-item> -->
        <!-- <q-item clickable v-ripple :active="link === 'savedCommands'" @click="link = 'savedCommands'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="download" />
          </q-item-section>
          <q-item-section>{{ t('sharedSavedCommands') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('sharedSavedCommands') }}</strong>
          </q-tooltip>
        </q-item> -->
      </div>
      <!-- <div v-if="manager">
        <q-separator spaced />
        <q-item v-if="admin" clickable v-ripple :active="link === 'server'" @click="link = 'server'"
          active-class="my-menu-link">
          <q-item-section avatar> -->
            <!-- <q-icon name="mdi-server" /> -->
            <!-- <q-icon name="storage" />
          </q-item-section>
          <q-item-section>{{ t('settingsServer') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('settingsServer') }}</strong>
          </q-tooltip>
        </q-item>
        <q-item clickable v-ripple :active="link === 'users'" @click="link = 'users'" active-class="my-menu-link">
          <q-item-section avatar>
            <q-icon name="mdi-account-group" />
          </q-item-section>
          <q-item-section>{{ t('settingsUsers') }}</q-item-section>
          <q-tooltip v-if="mini" anchor="center right" self="center left" :offset="[10, 10]">
            <strong>{{ t('settingsUsers') }}</strong>
          </q-tooltip>
        </q-item>
      </div> -->
    </q-list>
  </div>
</template>

<script setup>
import { ref, defineProps } from 'vue';
// import feactures from '@/common/utils/feactures';
import translation from '@/common/plugins/languages';
import {
  useRestriction,
  // useAdministrator, useDeviceReadonly, useRestriction, useManager,
} from '@/common/utils/permissions';
import { useRoute } from 'vue-router';
// import Driver from '@/assets/images/DriverIcon.svg';
import { useStore } from 'vuex';
// import DriverIcon from '@/assets/images/DriverIcon.vue';

const store = useStore();
const route = useRoute();
const { t } = translation();
const link = ref(route.name);
// const features = feactures();
// const manager = useManager();
// const admin = useAdministrator();
// const deviceReadonly = useDeviceReadonly();
const readonly = useRestriction('readonly');

// const colorFace = ref('#B33636');
// const colorHair = ref('#FFD700');
defineProps({ mini: Boolean });
// const girlSvg = computed(() => {
//   const color = '#fff';
//   // const hair = colorHair.value.replace('#', '%23');
//   return `img:data:image/svg+xml,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 588 482.66666"><path fill="${color}" d="m 382.17463,444.31937 c -9.35366,-1.75649 -26.34076,-7.2226 -32.99391,-10.61678 -16.69765,-8.51851 -37.63761,-26.95512 -45.45963,-40.025 -14.16441,-23.66747 -19.48933,-41.90236 -19.52557,-66.86427 -0.0467,-32.13117 10.44447,-58.92228 31.84864,-81.33172 12.14748,-12.71797 19.91792,-18.52346 33.97929,-25.38676 14.65963,-7.15528 24.41319,-10.00241 39.81784,-11.6231 63.48944,-6.67962 120.15879,36.14709 131.16638,99.12629 7.67325,43.90201 -11.79131,90.23437 -48.83304,116.23949 -15.74384,11.05295 -27.076,15.91099 -46.78678,20.05728 -10.31528,2.16988 -32.74556,2.39027 -43.21322,0.42457 z m 43.33333,-25.07882 c 13.35311,-3.4495 30.60527,-12.34615 38.72612,-19.9704 5.81939,-5.46352 6.60721,-6.84932 6.60721,-11.62208 0,-3.3478 -0.99058,-6.67824 -2.5918,-8.71384 -2.25248,-2.86359 -19.0527,-13.39259 -37.02001,-23.20112 -3.08649,-1.68495 -7.09077,-4.0326 -8.8984,-5.217 -3.04316,-1.99396 -3.61509,-1.97927 -7.72152,0.19833 -5.78264,3.06648 -17.69688,3.09723 -23.41968,0.0604 -4.21817,-2.23835 -4.44124,-2.21363 -9.64017,1.06831 -2.92715,1.84784 -5.67092,3.35969 -6.09728,3.35969 -0.62846,0 -15.31475,8.55685 -33.58339,19.56711 -6.89863,4.15772 -8.54052,13.89058 -3.61215,21.41224 2.32952,3.55529 18.13527,14.03056 27.18206,18.01492 17.92281,7.8935 41.40436,9.86502 60.06901,5.04341 z m -72.89316,-75.83259 22.86631,-13.1468 0.93998,-5.5062 c 1.44774,-8.48054 4.92607,-14.6027 10.56003,-18.58658 l 5.13657,-3.63218 0.0285,-26.80104 c 0.0164,-15.4055 -0.56842,-28.51325 -1.37534,-30.82798 -1.91933,-5.5058 -8.64213,-8.98419 -15.5685,-8.05516 -7.5649,1.01465 -21.09815,7.79169 -31.13167,15.58974 -15.94387,12.3916 -27.53264,30.3534 -33.41317,51.78811 -3.61462,13.17537 -3.22056,40.28027 0.67196,46.221 2.97188,4.53565 9.65665,7.62449 14.63212,6.76106 2.0828,-0.36144 14.07676,-6.57322 26.65324,-13.80397 z m 139.78468,9.13261 c 4.43195,-4.73765 5.72279,-13.55918 4.75017,-32.4625 -1.03498,-20.11591 -6.28069,-34.08408 -19.20116,-51.12856 -8.71613,-11.49819 -23.30976,-23.04404 -35.93158,-28.42755 -12.03918,-5.13498 -17.81962,-5.15901 -23.48791,-0.0976 l -4.35437,3.88815 -0.3348,29.11185 -0.33482,29.11184 5.0963,3.48419 c 5.57813,3.8136 9.49944,10.7398 10.56092,18.65372 0.62053,4.62644 1.49273,5.57007 9.51444,10.29364 22.24314,13.09782 37.05042,21.324 39.49796,21.94308 4.88994,1.23685 10.62896,-0.52632 14.22485,-4.37026 z m -84.85427,-14.93062 c 3.83344,-1.74663 7.29608,-7.33576 7.29608,-11.77676 0,-4.39853 -7.03473,-10.63032 -12,-10.63032 -5.11522,0 -12.0228,6.29769 -11.95274,10.89744 0.0655,4.303 2.97821,9.14237 6.76617,11.24188 3.99853,2.21621 5.52351,2.25751 9.89049,0.26776 z M 162.84129,417.04676 C 99.318962,412.59427 31.891022,403.34941 16.435602,396.97349 8.0824721,393.52753 3.0335721,388.91704 2.0868721,383.87069 c -0.94503,-5.03745 1.98724,-23.09569 5.96475,-36.73369 8.6363499,-29.61204 19.4398199,-48.92781 34.3078499,-61.33972 6.51469,-5.4385 35.75908,-20.39606 53.14849,-27.18373 12.513638,-4.88449 54.674068,-25.6764 56.481908,-27.85472 1.08208,-1.30383 0.0948,-3.52193 -3.98331,-8.9494 -6.80415,-9.05547 -9.93825,-15.17816 -13.23787,-25.86103 -1.43138,-4.63432 -3.55126,-9.21341 -4.71082,-10.17576 -6.24714,-5.18466 -16.72791,-24.68401 -19.98574,-37.18324 -3.75156,-14.39352 -1.72713,-31.17011 4.02519,-33.35714 3.06373,-1.16482 3.10219,-1.44924 3.73243,-27.603165 0.74362,-30.858523 2.51354,-38.418089 12.48178,-53.311298 9.55187,-14.271116 21.02318,-22.639939 39.19643,-28.595509 12.49636,-4.0951924 41.06331,-5.06135543 55.52093,-1.8777744 28.87855,6.3590834 47.19155,22.5516404 56.57587,50.0250294 2.52527,7.392937 3.05152,12.380684 3.58067,33.937472 l 0.6203,25.270795 3.85112,3.59748 c 3.71954,3.47457 3.85111,4.02719 3.85111,16.17565 0,18.5499 -5.05496,32.70797 -17.26345,48.35193 -3.43374,4.4 -7.0223,10.7 -7.97458,14 -2.28308,7.91177 -8.65033,20.48765 -14.28826,28.2206 l -4.53532,6.22061 3.69746,2.616 c 2.03362,1.4388 11.19748,6.35787 20.36415,10.93127 9.16667,4.57339 16.81811,8.44836 17.00319,8.61103 0.18509,0.16266 -2.59656,5.52806 -6.18146,11.9231 -9.07724,16.19276 -13.32241,29.90274 -15.02408,48.52091 -1.72777,18.90379 -0.012,37.92981 4.78755,53.08921 3.94651,12.46504 13.78048,32.12013 20.2684,40.51032 2.54176,3.28701 4.13952,6.1226 3.55056,6.30129 -9.77132,2.96478 -110.5302,6.6197 -135.07083,4.89955 z" /></svg>`;
// });
</script>

<style scoped>
.my-menu-link {
  color: black;
  background: #F2C037;
}
@media (prefers-color-scheme: dark) {
  #iconMenu {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(121deg) brightness(106%) contrast(104%);
  }
  .my-menu-link {
    color: white;
    background: #efc54f;
  }
}
</style>
