<template>
  <div class="home">
    <div class="flex flex-col z-10 w-full md:fixed md:top-4 md:left-4 md:w-[400px] bg-red-200 md:rounded-t-lg">
      <nav
        class="flex flex-row flex-nowrap bg-slate-50 dark:bg-gray-800 border-gray-200 px-2 sm:px-4 py-2.5 sm:rounded-t-lg">
        <div class="text-4xl font-bold">{{ t('deviceTitle') }}</div>
      </nav>
      <div class="bg-gray-900 overflow-auto" :class="width < 640 ? 'absolute z-10 w-full mt-14' : 'relative'" :style="'height: ' + (width < 640 ? sizeMap + 2.5 : sizeMap - 148.5) + 'px;'">
        <device-list :devices="data" />
      </div>
    </div>
    <div style="flex: 1; display: grid;">
      <map-view :size="sizeMap - 1" />
    </div>
  </div>
</template>

<script setup>
// @ is an alias to /src
import { useStore } from 'vuex';
import {
  ref, computed, watchEffect, defineAsyncComponent,
} from 'vue';
import translation from '@/common/plugins/languages';
import useBreakpoints from '@/common/plugins/media-query';
// import { useRouter } from 'vue-router';

// Datas uses
const { t } = translation();
const sizeMap = ref(0);
const store = useStore();
const { height, width } = useBreakpoints();
// Components that use on this page
const MapView = defineAsyncComponent(() => import('@/components/map/MapMain.vue'));
const DeviceList = defineAsyncComponent(() => import('@/components/map/DeviceList.vue'));
watchEffect(async () => {
  const response = await fetch('/api/devices');
  if (response.ok) {
    const test = await response.json();
    store.commit('devicesRefresh', test);
  } else {
    throw Error(await response.text());
  }
});
const data = computed(() => Object.values(store.getters.devicesItems).filter((de) => [de.name, de.uniqueId, de.phone, de.model, de.contact]));
watchEffect(() => {
  sizeMap.value = height.value;
  if (width.value < 640) sizeMap.value = height.value - 117.5;
});
// watch(() => store.getters.devicesItems, (d) => console.log(d));
// const text = ref('');
</script>
