<template>
  <div class="q-ma-xl bg-red-200">
    Tema:
    <q-toggle
        v-model="fourth"
        checked-icon="dark_mode"
        color="black"
        unchecked-icon="light_mode"
      />
  </div>
</template>

<script>
import { ref } from 'vue';

export default {
  setup() {
    return {
      fourth: ref(false),
    };
  },
};
</script>
