<template>
  <div>
    <form action="#" @submit.prevent="submitLogin">
      <div class="flex px-5">
        <q-input v-model="form.username" outlined bottom-slots :label="t('userEmail')" type="text" class="w-full"
          :dense="false" :error="failed">
          <template v-slot:before>
            <q-icon :color="isDark[0] ? 'white' : 'dark'" name="person"></q-icon>
          </template>
        </q-input>
      </div>
      <div class="flex px-5">
        <q-input v-model="form.password" outlined class="w-full" :dense="false" :type="isPwd ? 'password' : 'text'"
          :label="t('userPassword')" :placeholder="isPwd ? '********************' : t('userPassword')" :error="failed">
          <template v-slot:before>
            <q-icon :color="isDark[0] ? 'white' : 'dark'" name="key"></q-icon>
          </template>
          <template v-slot:append>
            <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer"
              @click="isPwd = !isPwd"></q-icon>
          </template>
        </q-input>
      </div>
      <div class="px-5 pb-2 w-full relative">
        <div class="absolute left-3 -top-2 text-xs">
          <switch-theme class="text-center" :typeTheme="1" />
        </div>
        <router-link to="/resetpassword" class="float-right text-xs hover:underline"
          :class="isDark[0] ? 'text-blue-400' : 'text-blue-900'" :value="t('loginReset')">{{
            t('loginReset')
          }}?</router-link>
      </div>
      <div class="flex px-5 mt-8">
        <!-- background-color: white; -->
        <!-- :style="!form.username || !form.password ? 'background-color: gray;' : 'background-color: #3aa93a;'" -->
        <q-btn class="w-full" type="submit" :color="!form.username || !form.password ? 'grey' : 'green'"
          :label="t('loginLogin')" :disabled="!form.username || !form.password" />
      </div>
    </form>
    <div class="flex flex-row flex-wrap mt-3 w-full px-5">
      <div class="sm:w-[60%] w-full">
        <q-select outlined v-model="model" defa use-input input-debounce="0" :label="t('loginLanguage')"
          :options="options" style="width: 100%;" emit-value map-options filled @filter="filterFn" ht5
          @update:model-value="onChange()">
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No results
              </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>

      <div class="sm:w-[34%] w-full m-auto">
        <q-btn flat :class="isDark[0] ? 'text-blue-400' : 'text-blue-900'" style="width: 100%;"
          :label="t('loginRegister')" @click="regiter" />
      </div>
    </div>
  </div>
</template>

<script setup>
import {
  ref, reactive, inject, defineAsyncComponent,
} from 'vue';
import { useStore } from 'vuex';
import { useQuasar } from 'quasar';
import { useRouter } from 'vue-router';
import translation from '@/common/plugins/languages';

// Componete that use
const SwitchTheme = defineAsyncComponent(() => import('@/components/modules/SwitchTheme.vue'));
// Datas uses
const isPwd = ref(true);
const $q = useQuasar();
const store = useStore();
const failed = ref(false);
const router = useRouter();
const { isDark } = inject('theme');
const model = ref(store.getters.language);
const { t, setLanguage, languages } = translation();
const form = reactive({ password: '', username: '' });

console.log(isDark.value[0]);

const regiter = () => router.push({ name: 'register' }).catch(() => { throw new Error('Problem handling something:.'); });
// Data form select
const languageList = Object.entries(languages).map((values) => ({ value: values[0], label: values[1].name }));
const options = ref(languageList);
// Filter element on select
const filterFn = (val, update) => {
  if (val === '') {
    update(() => {
      options.value = languageList;
      // here you have access to "ref" which
      // is the Vue reference of the QSelect
    });
    return;
  }
  update(() => {
    const needle = val.toLowerCase();
    options.value = languageList.filter((v) => v.label.toLowerCase().indexOf(needle) > -1);
  });
};
// Submit if press button
const submitLogin = async () => {
  try {
    const params = new URLSearchParams();
    params.append('email', encodeURIComponent(form.username));
    params.append('password', encodeURIComponent(form.password));
    params.append('undefined', 'false');
    const response = await fetch('/api/session', {
      method: 'POST',
      body: new URLSearchParams(`email=${encodeURIComponent(form.username)}&password=${encodeURIComponent(form.password)}`),
    });
    if (response.ok) {
      const user = await response.json();
      store.commit('updateUser', user);
      router.push({ name: 'main' }).catch(() => {
        throw new Error('Problem handling something:.');
      });
    } else {
      throw Error(await response.text());
    }
  } catch (e) {
    failed.value = true;
    form.password = '';
    $q.notify({
      message: t('loginFailed'),
      position: 'top',
      color: 'red',
      icon: 'report_problem',
    });
    setTimeout(() => {
      failed.value = false;
    }, 2000);
  }
};
// change Language if selected
const onChange = () => {
  setLanguage(model.value);
};
</script>
