<template>
  <div>
    <div class="flex px-5 text-2xl pb-2 dark:text-white">
      <q-btn round icon="arrow_back" @click="backToGo" />
      <div class="my-auto mx-4"> {{ t('loginRegister') }} </div>
    </div>
    <form action="#" @submit.prevent="submitRegister">
      <div class="flex px-5">
        <q-input v-model="form.name" outlined bottom-slots :label="t('sharedName')" type="text" class="w-full">
          <template v-slot:before>
            <q-icon :color="isDark[0] ? 'white' : 'dark'" name="person"></q-icon>
          </template>
        </q-input>
      </div>
      <div class="flex px-5">
        <q-input v-model="form.email" outlined bottom-slots :label="t('userEmail')" type="email" class="w-full"
          @blur="isValidEmail()" @focus="errEmail = false" :error="errEmail" error-message="Invalid email">
          <template v-slot:before>
            <q-icon :color="isDark[0] ? 'white' : 'dark'" name="email"></q-icon>
          </template>
        </q-input>
      </div>
      <div class="flex px-5">
        <q-input v-model="form.password" outlined class="w-full" :type="isPwd ? 'password' : 'text'"
          :label="t('userPassword')" :placeholder="isPwd ? '********************' : t('userPassword')">
          <template v-slot:before>
            <q-icon :color="isDark[0] ? 'white' : 'dark'" name="key"></q-icon>
          </template>
          <template v-slot:append>
            <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer"
              @click="isPwd = !isPwd"></q-icon>
          </template>
        </q-input>
      </div>
      <div class="flex px-5 py-4 w-full">
        <div class="w-[30%]">
          <switch-theme class="text-center" :typeTheme="1" />
        </div>
        <div class="w-[70%]">
          <q-select outlined v-model="model" defa use-input input-debounce="0" :label="t('loginLanguage')"
            :options="options" style="width: 100%;" emit-value map-options filled @filter="filterFn" ht5
            @update:model-value="onChange()">
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">
                  No results
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
      </div>
      <div class="flex px-5">
        <!-- :style="!form.name || !emailPattern.test(form.email) || !form.password ? isDark[0] ? 'background-color: white;' : 'background-color: gray;' : 'background-color: #3aa93a;'" -->
        <q-btn class="w-full" type="submit"
          :color="!form.name || !emailPattern.test(form.email) || !form.password ? 'grey' : 'green'"
          :label="t('loginRegister')" :disabled="!form.name || !emailPattern.test(form.email) || !form.password" />
      </div>
    </form>
  </div>
</template>

<script setup>
import translation from '@/common/plugins/languages';
import { useQuasar } from 'quasar';
import {
  ref, inject, reactive, defineAsyncComponent,
} from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

// Componete that use
const SwitchTheme = defineAsyncComponent(() => import('@/components/modules/SwitchTheme.vue'));
// Datas uses
const $q = useQuasar();
const isPwd = ref(true);
const store = useStore();
const router = useRouter();
const errEmail = ref(false);
const { isDark } = inject('theme');
const model = ref(store.getters.language);
const { t, languages, setLanguage } = translation();
const form = reactive({ name: '', email: '', password: '' });
const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
// Data form select
const languageList = Object.entries(languages).map((values) => ({ value: values[0], label: values[1].name }));
const options = ref(languageList);
// Action for go to login
const backToGo = () => router.push({ name: 'login' }).catch(() => { throw new Error('Problem handling something:.'); });
// Filter element on select
const filterFn = (val, update) => {
  if (val === '') {
    update(() => {
      options.value = languageList;
      // here you have access to "ref" which
      // is the Vue reference of the QSelect
    });
    return;
  }
  update(() => {
    const needle = val.toLowerCase();
    options.value = languageList.filter((v) => v.label.toLowerCase().indexOf(needle) > -1);
  });
};
// Function valided if write email
const isValidEmail = () => {
  if (form.email.length > 0) {
    if (!emailPattern.test(form.email)) errEmail.value = true;
  }
};
// Submit register
const submitRegister = async () => {
  const response = await fetch('/api/users', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(form),
  });
  if (response.ok) {
    $q.notify({
      icon: 'done',
      message: t('loginCreated'),
      position: 'top',
      color: 'green',
      timeout: 2000,
    });
    backToGo();
  } else {
    throw Error(await response.text());
  }
};
// change Language if selected
const onChange = () => {
  setLanguage(model.value);
};
</script>
