<template>
  <div>
    <div class="flex px-5 text-2xl pb-2 dark:text-white">
      <q-btn round icon="arrow_back" @click="backToGo" />
      <div class="my-auto mx-4"> {{ t('loginReset') }} </div>
    </div>
    <form action="#" @submit.prevent="submitResetPassword">
      <div class="flex px-5">
        <div v-if="token" class="w-full pb-4">
          <q-input v-model="password" outlined class="w-full" :type="isPwd ? 'password' : 'text'"
            :label="t('userPassword')" :placeholder="isPwd ? '********************' : t('userPassword')">
            <template v-slot:before>
              <q-icon :color="isDark[0] ? 'white' : 'dark'" name="key"></q-icon>
            </template>
            <template v-slot:append>
              <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                @click="isPwd = !isPwd"></q-icon>
            </template>
          </q-input>
        </div>
        <div v-else class="w-full">
          <q-input v-model="email" outlined bottom-slots :label="t('userEmail')" type="email"
            class="w-full" @blur="isValidEmail()" @focus="errEmail = false" :error="errEmail"
            error-message="Invalid email">
            <template v-slot:before>
              <q-icon :color="isDark[0] ? 'white' : 'dark'" name="email"></q-icon>
            </template>
          </q-input>
        </div>
      </div>
      <div class="flex px-5">
        <q-btn class="w-full" type="submit"
          :color="!emailPattern.test(email) && !password ? 'grey' : 'green'" :label="t('loginReset')"
          :disabled="!emailPattern.test(email) && !password" />
      </div>
    </form>
  </div>
</template>

<script setup>
import { useRouter, useRoute } from 'vue-router';
import translation from '@/common/plugins/languages';
import { ref, inject } from 'vue';
import { useQuasar } from 'quasar';

// Datas uses
const email = ref('');
const $q = useQuasar();
const isPwd = ref(true);
const password = ref('');
const route = useRoute();
const router = useRouter();
const { t } = translation();
const errEmail = ref(false);
const { isDark } = inject('theme');
const token = route.query.passwordReset;
const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
// Action for go to login
const backToGo = () => router.push({ name: 'login' }).catch(() => { throw new Error('Problem handling something:.'); });
// Function valided if write email
const isValidEmail = () => {
  if (email.value.length > 0) {
    if (!emailPattern.test(email.value)) errEmail.value = true;
  }
};
// Function for formulate for reset password
const submitResetPassword = async (event) => {
  let response;
  event.preventDefault();
  if (token) {
    response = await fetch('/api/password/update', {
      method: 'POST',
      body: new URLSearchParams(`token=${encodeURIComponent(token)}&password=${encodeURIComponent(password.value)}`),
    });
  } else {
    response = await fetch('/api/password/reset', {
      method: 'POST',
      body: new URLSearchParams(`email=${encodeURIComponent(email.value)}`),
    });
  }
  if (response.ok) {
    $q.notify({
      icon: 'done',
      message: t('loginCreated'),
      position: 'top',
      color: 'green',
      timeout: 2000,
    });
    backToGo();
  } else {
    throw Error(await response.text());
  }
};
</script>
