<template>
  <div class="home">
    <div class="flex flex-col z-10 w-full md:fixed md:top-4 md:left-4 md:w-[400px]">
      <toolbar-map class="md:rounded-t-lg"/>
      <div class="bg-gray-100 text-slate-950 dark:bg-gray-900 dark:text-slate-50 overflow-auto" :class="width < 768 ? 'absolute z-10 w-full mt-12' : 'relative'"
        :style="'height: ' + (width < 768 ? sizeMap + 2 : sizeMap - 134.5) + 'px;'">
        <device-list :devices="data" />
      </div>
    </div>
    <div style="flex: 1; display: grid;">
      <map-view :size="width < 768 ? sizeMap : sizeMap - 1">
        <template v-slot:permanent>
          <default-camera />
          <select-device />
        </template>
        <template v-slot:dynamic>
          <devices-map :positions="positionsDevices" :onClick="markerClick"/>
        </template>
      </map-view>
    </div>
  </div>
  <!-- <div class="absolute z-10 bottom-0 right-0 h-[200px] w-[200px] bg-black overflow-auto"></div> -->
</template>

<script setup>
// @ is an alias to /src
import { useStore } from 'vuex';
import {
  ref, computed, watchEffect, defineAsyncComponent,
} from 'vue';
import useBreakpoints from '@/common/plugins/media-query';

// Datas uses
const sizeMap = ref(0);
const store = useStore();
const { height, width } = useBreakpoints();
// Components that use on this page
const DevicesMap = defineAsyncComponent(() => import('@/components/map/DevicesMap.vue'));
const MapView = defineAsyncComponent(() => import('@/components/map/MapMain.vue'));
const DefaultCamera = defineAsyncComponent(() => import('@/common/map/camera/default'));
const DeviceList = defineAsyncComponent(() => import('@/components/map/DeviceList.vue'));
const ToolbarMap = defineAsyncComponent(() => import('@/components/map/ToolbarMap.vue'));
const SelectDevice = defineAsyncComponent(() => import('@/common/map/main/selected-device'));

const markerClick = (deviceId) => {
  console.log(deviceId);
  store.commit('devicesSelectId', deviceId);
};
// Refresh list device if not see
watchEffect(async () => {
  const response = await fetch('/api/devices');
  if (response.ok) {
    const test = await response.json();
    store.commit('devicesRefresh', test);
  } else {
    throw Error(await response.text());
  }
});
// Positions devices
const positionsDevices = computed(() => Object.values(store.getters.positions));
// Datas on list
const data = computed(() => Object.values(store.getters.devicesItems).filter((de) => [de.name, de.uniqueId, de.phone, de.model, de.contact]));
// Responsive list
watchEffect(() => {
  sizeMap.value = height.value;
  if (width.value < 768) sizeMap.value = height.value - 106.5;
});
</script>
