<template>
  <div v-if="error" class="absolute top-0 w-full flex p-4 mb-4 text-red-50 rounded-lg bg-red-500 z-20" role="alert">
    <q-icon name="info" size="sm" />
    <span class="sr-only">Info</span>
    <div class="ml-3 text-sm font-medium">
      {{ error }}
    </div>
    <button type="button"
      class="ml-auto -mx-1.5 -my-1.5 bg-red-500 text-red-50 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-400 inline-flex h-8 w-8"
      @click="error = false">
      <span class="sr-only">Close</span>
      <q-icon name="refresh" size="sm" />
    </button>
  </div>
  <div v-if="!initialized">
    <q-linear-progress dark rounded indeterminate class="q-mt-sm" />
  </div>
  <slot v-else></slot>
</template>

<script setup>
import { ref, watch, watchEffect } from 'vue';
import { useStore } from 'vuex';
// Datas uses
const error = ref(null);
const store = useStore();
const initialized = ref(!!store.getters.server);
// Validad if charge api principal
watchEffect(async () => {
  if (!error.value) {
    try {
      const response = await fetch('/api/server');
      if (response.ok) {
        store.commit('updateServer', await response.json());
      } else {
        throw Error(await response.text());
      }
    } catch (e) {
      error.value = e.message;
    }
  }
});
// change value if detect change on element save
watch(() => store.getters.server, (s) => {
  initialized.value = !!s;
});
</script>
