<template>
  <server-provider>
    <template v-slot>
      <router-view />
      <div v-if="initialized">
        <socket-controller />
        <!-- :class="width > 640 && route.name === 'home' ? 'w-[400px] bottom-4 left-4' : width < 640 ? 'left-0 bottom-0 w-full' : 'hidden'" -->
        <button-menu :class="route.name === 'main' ? '' : width < 768 ? '' : 'hidden'" class="z-10 absolute flex flex-col z-10 w-full fixed md:bottom-4 md:left-4 md:w-[400px] bg-red-200 md:rounded-b-lg" />
        <!-- sm:relative md:absolute sm:w-full md:w-[400px]  sm:bottom-0 md: sm:left-0 md: -->
      </div>
    </template>
  </server-provider>
</template>

<script setup>
import { useQuasar } from 'quasar';
import {
  ref, provide, watch, onBeforeMount, defineAsyncComponent,
} from 'vue';
// import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import useBreakpoints from '@/common/plugins/media-query';
import { useRoute } from 'vue-router';
import preloadImages from '@/common/map/core/preload-image';

// Datas uses
const $q = useQuasar();
const store = useStore();
const route = useRoute();
const theme = ref([false]);
const { width } = useBreakpoints();
const element = document.documentElement;
const initialized = ref(store.getters.user);
// Components that use on this page
const ServerProvider = defineAsyncComponent(() => import('@/components/server/ServerProvider.vue'));
const ButtonMenu = defineAsyncComponent(() => import('@/components/modules/ButtonMenu.vue'));
const SocketController = defineAsyncComponent(() => import('@/common/server/socket-controller'));
// Function change theme if change theme on computer while one page
matchMedia('(prefers-color-scheme: dark').addEventListener('change', (e) => {
  if (!('theme' in localStorage)) {
    if (e.matches) {
      theme.value[0] = true;
    } else {
      theme.value[0] = false;
    }
  }
});
onBeforeMount(() => {
  preloadImages();
});
// Convert if valid that theme use
const isDark = (t) => {
  const darkQuery = matchMedia('(prefers-color-scheme: dark');
  const result = ref();
  if (t === 'system') result.value = darkQuery.matches;
  else if (t === 'light') result.value = false;
  else result.value = true;
  if (result.value) element.classList.add('dark');
  else element.classList.remove('dark');
  return result.value;
};
// Create elemet on provide
theme.value[0] = isDark(store.getters.theme);
// Change theme of all framework
$q.dark.set(theme.value[0]);
provide('theme', { isDark: theme });
// Detect if change theme and change
watch(() => store.getters.theme, (t) => {
  theme.value[0] = isDark(t);
  // Change theme of all framework
  $q.dark.set(theme.value[0]);
});
watch(() => store.getters.user, (u) => {
  initialized.value = u;
});

</script>
