<template>
  <q-list>
    <q-item clickable v-ripple v-for="device in devices" :key="device.id">
      <q-item-section>
        <q-item-label>{{ device.name }}</q-item-label>
        <q-item-label caption>{{ device.status }}</q-item-label>
        <q-item-label caption>{{ device.lastUpdate }}</q-item-label>
        <!-- <q-item-label caption>Caption</q-item-label> -->
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup>
import { defineProps } from 'vue';

defineProps({ devices: Array });

</script>
