<template>
  <div></div>
</template>
<script setup>
import {
  onUnmounted, computed, defineProps, watchEffect,
} from 'vue';
import { useStore } from 'vuex';
import { map } from '@/components/map/MapMain.vue';
import { attributePreference, usePreference } from '@/common/utils/preferences';
import { formatTime } from '@/common//utils/formatter';
import { mapIconsKey } from '@/common/map/core/preload-image';

// Datas uses
const id = ':nt01';
const store = useStore();
const clusters = `${id}-clusters`;
const direction = `${id}-direction`;
const hours12 = usePreference('twelveHourFormat');
const iconScale = attributePreference('iconScale', 1);
const mapCluster = attributePreference('mapCluster', true);
const devices = computed(() => store.getters.devicesItems);
const props = defineProps({ positions: Array, onClick: Function });
// Function for data and image on point of positions devices
const createFeature = (devices, position) => {
  const device = devices[position.deviceId];
  return {
    id: position.id,
    deviceId: position.deviceId,
    name: device.name,
    fixTime: formatTime(position.fixTime, 'seconds', hours12),
    category: mapIconsKey(device.category),
    color: position.attributes.color || device.status,
    // category: mapIconsKeyRoute('arrow'),
    // color: 'end',
    rotation: position.course,
  };
};
// hover imagen and cursor is pointer
const onMouseEnter = () => {
  map.getCanvas().style.cursor = 'pointer';
};
// cursor is none;
const onMouseLeave = () => {
  map.getCanvas().style.cursor = '';
};

// const onMapClick = (event) => {
//   console.log(event.defaultPrevented);
//   if (!event.defaultPrevented && props.onClick) {
//     props.onClick();
//   }
// };
const onMarkerClick = (event) => {
  const feature = event.features[0];
  if (props.onClick) props.onClick(feature.properties.id, feature.properties.deviceId);
};
// Function on click cluster points
const onClusterClick = (e) => {
  const features = map.queryRenderedFeatures(e.point, {
    layers: [clusters],
  });
  const clusterId = features[0].properties.cluster_id;
  map.getSource(id).getClusterExpansionZoom(clusterId, (error, zoom) => {
    if (!error) {
      map.easeTo({
        center: features[0].geometry.coordinates,
        zoom,
      });
    }
  });
};
// Charge elements on map
watchEffect(() => {
  map.addSource(id, {
    type: 'geojson',
    data: {
      type: 'FeatureCollection',
      features: [],
    },
    cluster: mapCluster,
    clusterMaxZoom: 14,
    clusterRadius: 50,
  });
  map.addLayer({
    id,
    type: 'symbol',
    source: id,
    filter: ['!has', 'point_count'],
    layout: {
      'icon-image': '{category}-{color}',
      'icon-size': iconScale,
      'icon-allow-overlap': true,
      'text-field': '{name}',
      'text-allow-overlap': true,
      'text-anchor': 'bottom',
      'text-offset': [0, -2 * iconScale],
      'text-font': ['Roboto Regular'],
      'text-size': 12,
    },
    paint: {
      'text-halo-color': 'white',
      'text-halo-width': 1,
    },
  });
  map.addLayer({
    id: clusters,
    type: 'symbol',
    source: id,
    filter: ['has', 'point_count'],
    layout: {
      'icon-image': 'background',
      'icon-size': iconScale,
      'text-field': '{point_count_abbreviated}',
      'text-font': ['Roboto Regular'],
      'text-size': 14,
    },
  });
  map.addLayer({
    id: direction,
    type: 'symbol',
    source: id,
    filter: [
      'all',
      ['!has', 'point_count'],
      ['==', 'direction', true],
    ],
    layout: {
      'icon-image': 'direction',
      'icon-size': iconScale,
      'icon-allow-overlap': true,
      'icon-rotate': ['get', 'rotation'],
      'icon-rotation-alignment': 'map',
    },
  });
  map.on('mouseenter', id, onMouseEnter);
  map.on('mouseleave', id, onMouseLeave);
  map.on('mouseenter', clusters, onMouseEnter);
  map.on('mouseleave', clusters, onMouseLeave);
  map.on('click', id, onMarkerClick);
  map.on('click', clusters, onClusterClick);
  // map.on('click', onMapClick);
});
// Clean elements if change style map or change view map
onUnmounted(() => {
  map.off('mouseenter', id, onMouseEnter);
  map.off('mouseleave', id, onMouseLeave);
  map.off('mouseenter', clusters, onMouseEnter);
  map.off('mouseleave', clusters, onMouseLeave);
  map.off('click', id, onMarkerClick);
  map.off('click', clusters, onClusterClick);
  // map.off('click', onMapClick);

  if (map.getLayer(id)) {
    map.removeLayer(id);
  }
  if (map.getLayer(clusters)) {
    map.removeLayer(clusters);
  }
  if (map.getLayer(direction)) {
    map.removeLayer(direction);
  }
  if (map.getSource(id)) {
    map.removeSource(id);
  }
});
// Add style on each point in the map
watchEffect(() => {
  map.getSource(id).setData({
    type: 'FeatureCollection',
    // eslint-disable-next-line
    features: props.positions.filter((it) => devices.value.hasOwnProperty(it.deviceId)).map((position) => ({
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [position.longitude, position.latitude],
      },
      properties: createFeature(devices.value, position),
    })),
  });
});
</script>
