<template>
  <q-toolbar class="bg-gray-300 text-slate-950 dark:bg-gray-800 dark:text-slate-50 glossy">
    <!-- <q-btn flat round dense icon="view_list" /> -->
    <!-- <q-input outlined v-model="text" label="Outlined" /> -->
    <q-toolbar-title>{{ t('deviceTitle') }}</q-toolbar-title>
    <!-- <q-btn flat round dense icon="add" /> -->
  </q-toolbar>
</template>

<script setup>
import translation from '@/common/plugins/languages';

const { t } = translation();
</script>
