<template>
  <q-layout id="Login" class="flex min-h-screen bg-no-repeat bg-cover"
    :style="{ 'background-image': 'url(' + backgroudImg + ')' }">
    <div class=" flex w-screen h-screen items-center justify-center">
      <div
        class="w-full mt-4 py-4 bg-slate-50 dark:bg-gray-800 dark:bg-opacity-100 shadow-lg z-10 rounded-lg xs:inline-block sm:my-8 xs:align-middle sm:max-w-sm">
        <div class="bg-no-repeat bg-cover bg-center bg-contain w-[80%] h-[5rem]"
          :style="`background-image: url('${isDark[0] ? logoClaro : logoOscuro}'); margin: 0 auto 15px`" />
        <q-page-container>
          <router-view></router-view>
        </q-page-container>
      </div>
    </div>
  </q-layout>
</template>

<script setup>
// Call value on App.vue
import { inject } from 'vue';
// Images
import backgroudImg from '@/assets/images/background.jpg';
import logoClaro from '@/assets/images/LogoTipoClaro.svg';
import logoOscuro from '@/assets/images/LogoTipoOscuro.svg';

// Value on app.vue
const { isDark } = inject('theme');

</script>

<style scoped>
#Login:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
</style>
