<template>
  <q-layout class="!min-h-[100px] max-h-screen" :style="'height:' + size + 'px;'">
    <q-header v-if="width < 769" elevated class="md:w-fit w-full">
      <q-toolbar
        class="bg-gray-800 before:content-[''] after:absolute after:h-full after:bg-[#333333] after:w-[3.5rem] after:right-[calc(100%-3.5rem)]">
        <div class="z-10">
          <q-btn flat @click="miniState = !miniState" round dense icon="menu" />
        </div>
        <q-toolbar-title>
          <q-btn flat icon="home" :to="{ name: 'main' }" /> /
          {{ title }}
          {{ titleView ? `/ ${titleView}` : null }}
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer show-if-above :width="260" :breakpoint="200" bordered :mini="miniState">
      <div v-if="width > 768">
        <div class="absolute-top my-2 ml-1 inline-block">
          <q-toolbar-title>
            <q-btn flat icon="mdi-reply" :to="{ name: 'main' }" />
            <div class="text-center w-[60%] inline-block">
            {{ title }}
            </div>
          </q-toolbar-title>
        </div>
        <div class="absolute top-[35px] right-[-17px] z-[2]">
          <q-btn dense round unelevated color="accent" :icon="miniState ? 'chevron_right' : 'chevron_left'"
            @click="miniState = !miniState" />
        </div>
      </div>
      <q-scroll-area :class="width > 768 ? 'h-[calc(100%-50px)] mt-[50px]' : 'fit'">
        <report-menu v-if="route.name.toLowerCase().includes('report')" :mini="miniState" />
        <settings-menu v-else-if="route.name.toLowerCase().includes('settings')" :mini="miniState" />
      </q-scroll-area>
    </q-drawer>
    <q-page-container>
      <div v-if="route.name === 'reports' || route.name === 'settings'" class="absolute top-1/2 left-1/2 mt-[-25px] ml-[-50px]" padding>
        Error!! It page is not none
      </div>
      <router-view v-else @title-view="showTitle"></router-view>
    </q-page-container>
  </q-layout>
</template>

<script setup>
import translation from '@/common/plugins/languages';
import useBreakpoints from '@/common/plugins/media-query';
import { ref, watchEffect, defineAsyncComponent } from 'vue';
import { useRoute } from 'vue-router';

const size = ref(0);
const title = ref('');
const titleView = ref();
const route = useRoute();
const { t } = translation();
const { height, width } = useBreakpoints();
const miniState = ref(width.value < 768);

const ReportMenu = defineAsyncComponent(() => import('@/components/modules/menu/ReportMenu.vue'));
const SettingsMenu = defineAsyncComponent(() => import('@/components/modules/menu/SettingsMenu.vue'));

const showTitle = (title) => {
  titleView.value = t(title);
};
// Detect if your screen size
watchEffect(() => {
  size.value = height.value;
  if (width.value < 768) size.value = height.value - 56.5;
  if (route.name.toLowerCase().includes('report')) title.value = t('reportTitle');
  else if (route.name.toLowerCase().includes('settings')) title.value = t('settingsTitle');
});
</script>
