<template>
  <div class="home">
    <!-- <img alt="Vue logo" :src="imh"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <router-link to="/about">about</router-link>
    {{ d }}

  </div>
</template>

<script setup>
import { defineEmits } from 'vue';
// import moment from 'moment';

const emit = defineEmits(['TitleView']);
emit('TitleView', 'reportEvents');
const d = new Date('2023-04-10T12:26:55.000+00:00');
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';
// import imh from '../../assets/logo.png';
</script>
