<template>
  <div class="home">
    <!-- <img alt="Vue logo" :src="imh"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <router-link to="/about">about</router-link>
  </div>
</template>

<script setup>
import { defineEmits } from 'vue';

const emit = defineEmits(['TitleView']);
emit('TitleView', 'reportRoute');
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue';
// import imh from '../../assets/logo.png';
</script>
